{% extends 'MukhinContactsBundle:Contact:base.html.twig' %}

{% block value %}
    <div class="contact__value">
        <a href="skype:{{ contact.login }}">{{ contact.login }}</a>
    </div>
{% endblock %}
